body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#onClick1 {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(138, 138, 138);
    background-color: rgb(32, 32, 32);
    border: solid 3px blue;
    margin: 15px;
    margin-top: 100px;
}

#onClick2 {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(138, 138, 138);
    background-color: rgb(79, 79, 79);
    border: solid 3px yellow;
    margin: 15px;
}